@import "colors.css";
@import "variables.css";

:root {
  --ads-primary-color: var(--ads-color-orange-500);

  /** Naming convention for tokens
  *
  * --ads-<component>-<componentType>-<state>-<property>-<subProperty>
  *
  * component: button, checkbox, dropdown, input, link, list, menu, radio, select, textarea...
  * componentType: primary, secondary...
  * state: hover, focus, active, disabled, default...
  * property: color, background, border...
  * subProperty: color, width, radius...
  *
  */

  /** Callout */
  --ads-callout-info-text-color: #D44100;
  --ads-callout-info-background-color: #F8F3F0;
  --ads-callout-success-text-color: var(--ads-old-color-jade);
  --ads-callout-success-background-color: #E4F4ED;
  --ads-callout-danger-text-color: var(--ads-old-color-pomegranate);
  --ads-callout-danger-background-color: #F9E9E9;
  --ads-callout-warning-text-color: var(--ads-old-color-sun);
  --ads-callout-warning-background-color: #FAF3E3;

  /** Text */
  --ads-text-color: var(--ads-color-black-750);
  --ads-text-heading-color: var(--ads-color-black-850);
  --ads-text-highlight-color: var(--ads-color-black-0);

  /** AppIcon  */
  --ads-app-icon-normal-color: var(--ads-color-black-550);
  --ads-app-icon-background-color: var(--ads-color-black-25);

  /** HighlightText */
  --ads-highlight-text-default-text-color: var(--ads-color-orange-800);
  --ads-highlight-text-default-background-color: var(--ads-color-orange-100);

}
